/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$lightblue: #ADD8E6;
$blue: #66d9ff;
$light-grey: #808080;
$dark-grey: #A9A9A9;
$lightsteelblue: #B0C4DE;
$powderblue: #B0E0E6;

