/* =============
    Section-5
============= */
#section-5{
    
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $lightblue;
button {
    background-color: $black;
    border: none;
    border-radius: 0;
    color: $white;
    font-size: 0.5rem;
    font-weight: 400;
    height: 30px;
    width: 50px;
}
#section-5-1{
    margin: 15px
}
#section-5-2{
    margin: 15px
}
    #section-5-gallery{
            display: grid;
            gap:15px;

            @include md{
                grid-template-areas: 
                "g2 g2"
                "g1 g3";
            }

            @include lg{
                grid-template-areas: 
                "g2 g2"
                "g1 g3";
            }

            @include xl{
                grid-area: section-4; 
            }

            li{
                img{
                    width: 100%;
                }
            }

            #g1{
                @include md{
                    grid-area: g1;
                }
            }

            #g2{
                @include md{
                    grid-area: g2;
                }
            }

            #g3{
                @include md{
                    grid-area: g3;
                }
            }
        }      
 }